  <title>Paige's TinyApp</title>
<font face="sans-serif" color="grey" size="6">Paige's TinyApp</font> <br>

<a href="/register">Register</a>
<% if(!user) { %>
No user


<% } else { %>
User!

 <% }  %>
<br><br>
