<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

  <title>Paige's TinyApp</title>

  <head></head>
  <style>

  </style>



<head>
  <% include ../views/partials/_header %>
</head>

  <body>

    <% for(prop in urls) { %>


    <form method="POST" action="/urls/<%= prop %>/delete">
    <%= prop %> - <%= urls[prop] %>

    <input type="submit" value="Delete" >

    </form>

    <form method="POST" action="/urls/<%= prop %>">
    <input type="submit" value="Edit" >

    </form>

    <% }; %>
  </body>
  <footer>

    <a href="/urls/new">Create a new URL</a>



</html>