<!DOCTYPE html>

<html lang="en">

<font face="sans-serif" color="grey" size="10">Paige's TinyApp</font> <br>
<br><br>

  <body style="font-size:20px; padding:50px;">





    <form action="/urls" method="POST">

      <label for="longURL"> Please Enter a URL: </label><br>

      <input id="longURL" type="text" name="longURL" placeholder="http://www." style="width: 300px">

      <input type="submit" value="Submit" > <br>

<br><br>

    <form action="/urls">
      <input type="submit" value="Back to Main">
    </form>



    </form>

  </body>
</html>