<!DOCTYPE html>
<title>Paige's TinyApp</title>

<html lang="en">

<body>

<font face="sans-serif" color="grey" size="6">Paige's TinyApp</font> <br><br>




<form action="/login" method="POST">

      <label for="email"> Please enter your email  </label>

      <input id="email" type="email" name="email"> <br>

      <label for="password"> Please enter a password</label>

      <input id="password" type="password" name="password"> <br>

      <input type="submit" value="Submit" >

</form>
<br/><br/>Not a user?
<form action="/register">
    <input type="submit" value="Register">
</form>

</body>

</html>
